#about {
    border: 1px solid #000000;

    position: relative;
    width: 100px;
    left: 100px;
    top: 100px;

    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);

    p {
        font-size: 16px;

        @media screen and (max-width: 480px) {
            color: #FF0000;
        }
    }
}